div.pad {
  border-radius: 18px;
 /* background: hsl(51, 100%, 74%);*/ /*Yellowi*/
  background: hsl(95, 25%, 71%); /*Green*/
  padding: 20px;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.title {
	position: absolute;
	top:5px;
	left:30px;
	color: hsl(119, 65%, 96%);
}

div.todo-list {
	position: absolute;
	top: 50px;
	left: 30px;
}

div.adder {
	position: absolute;
	top: 485px;
	left: 30px;
}
